<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.signify.intouch" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".RespondControl"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".RespondControl" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.signify.intouch.RespondControl" />
        </activity>

        <uses-permission android:name="android.permission.READ_CONTACTS" />

        <activity
            android:name=".EditCannedActivity"
            android:label="@string/title_activity_edit_canned" >
        </activity>
    </application>

</manifest>
